<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPartLabel" jhiTranslate="carserviceappApp.part.home.createOrEditLabel">Create or edit a Part</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!part.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="part.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.part.part" for="field_part">Part</label>
            <input type="text" class="form-control" name="part" id="field_part"
                [(ngModel)]="part.part"
            required />
            <div [hidden]="!(editForm.controls.part?.dirty && editForm.controls.part?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.part?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.part.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="part.quantity"
            required />
            <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.part.priceOne" for="field_priceOne">Price One</label>
            <input type="number" class="form-control" name="priceOne" id="field_priceOne"
                [(ngModel)]="part.priceOne"
            required />
            <div [hidden]="!(editForm.controls.priceOne?.dirty && editForm.controls.priceOne?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.priceOne?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.priceOne?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.part.cost" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                [(ngModel)]="part.cost"
            required />
            <div [hidden]="!(editForm.controls.cost?.dirty && editForm.controls.cost?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cost?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cost?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="carserviceappApp.part.visit" for="field_visit">Visit</label>
            <select class="form-control" id="field_visit" name="visit" [(ngModel)]="part.visit" >
                <option [ngValue]="null"></option>
                <option [ngValue]="visitOption.id === part.visit?.id ? part.visit : visitOption" *ngFor="let visitOption of visits; trackBy: trackVisitById">{{visitOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
