<div>
    <h2>
        <span jhiTranslate="carserviceappApp.visit.home.title">Visits</span>
        <button class="btn btn-primary float-right create-visit" [routerLink]="['/', { outlets: { popup: ['visit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="carserviceappApp.visit.home.createLabel">
            Create new Visit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="visits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.km">Km</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.date">Date</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.partsCost">Parts Cost</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.workCost">Work Cost</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.allCost">All Cost</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.car">Car</span></th>
            <th><span jhiTranslate="carserviceappApp.visit.worker">Worker</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let visit of visits ;trackBy: trackId">
                <td><a [routerLink]="['../visit', visit.id ]">{{visit.id}}</a></td>
                <td>{{visit.km}}</td>
                <td>{{visit.date | date:'medium'}}</td>
                <td>{{visit.partsCost}}</td>
                <td>{{visit.workCost}}</td>
                <td>{{visit.allCost}}</td>
                <td>
                    <div *ngIf="visit.car">
                        <a [routerLink]="['../car', visit.car?.id ]" >{{visit.car?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="visit.worker">
                        <a [routerLink]="['../worker', visit.worker?.id ]" >{{visit.worker?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../visit', visit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visit/'+ visit.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'visit/'+ visit.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
