<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMemLabel" jhiTranslate="carserviceappApp.mem.home.createOrEditLabel">Create or edit a Mem</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!mem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="mem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.mem.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="mem.date"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.mem.km" for="field_km">Km</label>
            <input type="number" class="form-control" name="km" id="field_km"
                [(ngModel)]="mem.km"
            required />
            <div [hidden]="!(editForm.controls.km?.dirty && editForm.controls.km?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.km?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.km?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.mem.afterDate" for="field_afterDate">After Date</label>
            <div class="d-flex">
                <input id="field_afterDate" type="datetime-local" class="form-control" name="afterDate" [(ngModel)]="mem.afterDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.mem.afterKm" for="field_afterKm">After Km</label>
            <input type="number" class="form-control" name="afterKm" id="field_afterKm"
                [(ngModel)]="mem.afterKm"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="carserviceappApp.mem.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="mem.comment"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
